<html>

<head>
    <title>J&J</title>
    <meta charset="utf-8">
</head>

<style>
    #barra {
        margin: 0;
        padding: 10;
        list-style-type: none;
        text-align: right;
        background-color: #333;
        color: white;
        text-transform: uppercase;



    }

    #barra li {
        display: inline;
        margin: 0 20px;
    }
    
</style>


<body>
    <ul id="barra">
        <li>Home</li>
        <li>Blog</li>
        <li>Contacto</li>
    </ul>
</body>

</html>